div.cs-select {
    transition: 0.5s all ease-in-out;
    vertical-align: middle;
    position: relative;
    text-align: left;
    background: white;
    width: 100%;
    max-width: 500px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.2em;
}

div.cs-select:focus {
    outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {

    display: none;
}

.cs-select span {
    transition: 0.5s all ease-in-out;
    display: block;
    position: relative;
    cursor: pointer;
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
    padding-right: 20px;
}
.cs-select .cs-selected {
    transition: 0.5s all ease-in-out;
    background: #850028;
    color: white;
}
.cs-select > span::after,
.cs-select .cs-selected span::after {
    speak: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
    content: '\25BE';
    right: 1em;
}

.cs-select .cs-selected span::after {
    content: '\2713';
    margin-left: 1em;
}

.cs-select.cs-active > span::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
    z-index: 200;
}

/* Options */
.cs-select .cs-options {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: white;
    visibility: hidden;
}

.cs-select.cs-active .cs-options {
    visibility: visible;
}

.cs-select ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.cs-select ul span {
    padding: 1em;
}

.cs-select ul li.cs-focus span {
    background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
    padding-left: 20px;
}

.cs-select li.cs-optgroup > span {
    cursor: default;
}

@font-face {
    font-family: 'icomoon';
    src:url('/static/fonts/icomoon/icomoon.eot?-rdnm34');
    src:url('/static/fonts/icomoon/icomoon.eot?#iefix-rdnm34') format('embedded-opentype'),
    url('/static/fonts/icomoon/icomoon.woff?-rdnm34') format('woff'),
    url('/static/fonts/icomoon/icomoon.ttf?-rdnm34') format('truetype'),
    url('/static/fonts/icomoon/icomoon.svg?-rdnm34#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


div.cs-skin-border {
    background: #a50032;
    font-weight: 700;
    color: white;
}

@media screen and (max-width: 30em) {
    div.cs-skin-border { font-size: 1em; }
}

.cs-skin-border > span {
    border-color: inherit;
    -webkit-transition: background 0.2s, border-color 0.2s;
    transition: background 0.2s, border-color 0.2s;
}

.cs-skin-border > span::after,
.cs-skin-border .cs-selected span::after {
    font-family: 'icomoon';
    content: '\e000';
}

.cs-skin-border ul span::after {
    content: '';
    opacity: 0;
}

.cs-skin-border .cs-selected span::after {
    content: '\e00e';
    color: #ddd9c9;
    font-size: 1.5em;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.cs-skin-border.cs-active > span {
    background: white;
    border-color: white;
    color: #850028;
}

.cs-skin-border .cs-options {
    color: #850028;
    font-size: 0.75em;
    opacity: 0;
    -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
    transition: opacity 0.2s, visibility 0s 0.2s;
}

.cs-skin-border.cs-active .cs-options {
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.cs-skin-border ul span {
    padding: 1em 2em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span {
    background: #850028;
    color:white;
}
.cs-select-div {
    display: block;
}